$white-color: #fef7ee;

.intro {
  position: relative;
  img {
    position: absolute;
    top: -60px;
    right: -30px;
  }
  .title,
  .description {
    z-index: 10;
    position: relative;
  }

  .title {
    font-size: 2rem;
    color: $white-color;
  }

  .description {
    font-size: 1rem;
    color: #6f757c;
    margin-top: 0.5rem;
    max-width: 500px;
  }
}
